.inventorySelect,
.planSelect {
    width: 350px;
    padding: 10px;
    height: 350px;
    overflow: hidden;
    border: solid rgba(0, 0, 0, 0.1) 1px;
    border-radius: 10px;
    margin-top: 10px;
    transition: opacity 250ms ease-in-out;
    position: relative;
}
.prospectbutton {
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border: 10px solid #0475b4;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 1%;
    transition: background-color color 500ms ease-in-out;
    color: #0475b4;
}

.prospectbutton:nth-of-type(2) {
    margin-left: 10px;
}
.inventorySelect h1,
.selectProduct {
    font-size: 18px;
    margin-top: 10px;
}
.planSelect {
    padding: 0px;
    width: 32%;
    margin-left: 1%;
    background-color: #0475b4;
    border: none;
}
.planSelect .planinfo {
    width: 100%;
    padding: 12px;
    background-color: #0475b4 !important;
}
.planSelect .planinfo h1 {
    font-size: 18px;
    color: white;
}
.planSelect .planinfo h1:nth-of-type(2) {
    font-size: 14px;
    font-weight: normal;
}
.selectProduct {
    font-weight: 600;
    font-size: 18px;
}
.inventorySelect img {
    width: 190px;
    margin-left: 50%;
    transform: translate(-50%);
    height: auto;
    background-color: red;
    border-radius: 5px;
}
.inventorySelect button {
    background-color: rgba(14, 151, 4, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 15px;
    cursor: pointer;
}
.fieldinpayment {
    width: 32%;
    margin-left: 1%;
}
.planSelect button {
    background-color: rgba(14, 151, 4, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.planSelect .planprice {
    color: white;
}
.planSelect .planprice span:nth-of-type(1) {
    font-size: 14px;
}
.planSelect .planprice span:nth-of-type(2) {
    margin-left: 10px;
    font-weight: 900;
}
.planSelect .chargetype {
    margin-left: 10px;
    margin-top: -15px;
    color: white;
}
.voiceallowance,
.dataallowance,
.textallowance {
    font-family: Inter;
    width: 80%;
    margin-left: 50%;
    text-align: center;
    transform: translate(-50%);
    color: white;
    font-size: 12px;
}
.voiceallowance span,
.dataallowance span,
.textallowance span {
    font-size: 12px;
    font-family: Inter;
    margin-left: -1px;
    text-transform: uppercase;
}
.simimg {
    width: 350px;
    height: 350px;
    margin-top: 2rem;
}
.inventorySelect h1 {
    text-align: center;
}
.selectplan {
    color: #c68301;
    font-size: 16px;
    font-weight: Inter;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

/* Also defined in personalInfo.css */
.calendar_field {
    width: 33%;
    height: 40px;
    margin-top: 40px;
}
.field_label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color: black;
}
/* ************ */
.discountmultiselect .p-multiselect-trigger {
    color: #c68301;
}
.p-dropdown .p-dropdown-trigger {
    color: #c68301;
}
