.footer-main{ 
     margin-top: -20px;
     overflow: hidden;  
     overflow: hidden;
     border-radius: 5px;
} 
.footer-main img{ 
    width: 100px; 
    height: auto;  
    padding-top: 28px;
    display: inline-block;
} 
.footer-main h5{ 
    display: inline-block; 
 padding-top: 31px;    
 font-size: 11px;
 margin-right: 5px;
 color:black;
}