.paid-invoice{ 
    background-color: rgb(99, 102, 241) !important;  
    color:white !important;
     
 }  
 .unpaid-invoice-red{ 
   color:#DB1A43 !important;
}
 .unpaid-invoice{ 
   background-color: red !important; 
   color:white !important;
    
}
.partialpaidinvoice{ 
    background-color:rgba(250, 129, 22, 0.72) !important; 
    color:white !important;
}