.r_n_r ul li {
list-style: none;
}
.cp_table tr td {
    padding: 1rem;
}
.cp_table tr:nth-child(even){
    background-color: whitesmoke;
}
.cp_table tr td:nth-child(odd){
    font-weight: 600 !important;
}
.hide_text {
    white-space: nowrap;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}   
.display-inline{ 
    display: inline-block;
}
.counter_span {
    display: inherit;
}   
.passworddiv{ 
    background-color: red;  
     display: flex; 
     flex-wrap: wrap; 
     flex-direction: row; 
     justify-content: space-between;        
     align-items: center; 
     background-color: white;  
    border: 1px solid #ced4da; 
    padding: 0px; 
    border-radius: 6px; 
    height: 30px;
}  
.passworddiv .p-component{ 
    border: none; 
     width:85%; 
}
.passworddiv i{ 
    cursor: pointer; 
    width:15%;
}